
<%= make_header('All the Students') %>

<ul>
  <% @students.each do |student| %>
    <li><%= make_link(student.name, student) %></li>
  <% end %>
</ul>

<%= make_link('Create a new student', new_student_path) %>
